@page 
@using EventMaker21.Models
@using EventMaker21.Interfaces
@inject IEventRepository mitRepo
@model EventMaker21.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index  -  oversigt over events i Danmark</h1>

<p>Der er @mitRepo.GetAllEvents().Count events i Danmark registreret i systemet</p>

<h2><a asp-page="CreateEvent" >Create Event</a></h2>

<form method="get">
    <p>
        Search: <input type="text" asp-for="FilterCriteria"/>
        <input type="submit"  value="Search/Filter"/>
    </p>

</form>

<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            City
        </th>
        <th>
            Date
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Events)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.City
            </td>
            <td>
                @item.DateTime.ToShortDateString() @item.DateTime.ToShortTimeString()
            </td>
            <td > <a asp-page="EditEvent" asp-route-id="@item.Id">Edit event </a></td>
        </tr>
    }
    </tbody>
</table>
